@media only screen and (max-width: 1360px) {

    .myimg{
        margin-top: 0%;
      }
    .card{
            flex-direction: column;           
            margin-left: 0%;
            width: auto;
            height: 50vh;
            margin-bottom: 10%;
            // background-color: salmon;

        .img_container{            
            flex: 1;
            margin-left: auto;
            margin-right: auto;
            height: 45%;
            width: 20vw;
            border-radius: 0px;
            // background-color: black;

            .myimg{
                object-fit: cover;
                // background-color: black;

            }
        }
        .text_container{
        // background-color: salmon;
            margin-left: auto;
            margin-right: auto;
            height: 50vh;
            width: 40vw;
            border-radius: 10px;
            text-align: center;

              .text_container_header{
                line-height: 6px;
              }

              .text_container_List{
                height: 16vh;
                .technologies_list{
                  .list_left{
                      // background-color: salmon;
                      margin-left: auto;
                      margin-right: auto;
                      text-align: left;
                  }
                }
              }

          }
      }

      .content{
        width: 100vw;
        // background-color: salmon;

    
        .websites{
            width: 75w;
        // background-color: salmon;

        }
        .apps{
            width: 75vw;    
        }
        .designs{
            width: 75vw;
    
        }
    }
    
    

}