@media only screen and (min-width: 1360px) {
    .header_push{
        left: 15px;
    }

    .content{    
    margin-left: 4%;

        .websites{
            width: 70vw;
            left: 20vw;
        }
        .apps{
            width: 70vw;
            left: 20vw;
        }
        .designs{
            width: 70vw;
            left: 20vw;
        }
    }

    button{
        width: 80px;
        height: 40px;
        border-radius: 15px;
        font-size: 0.8vw;

    }

    .fader{
        padding-right: 10%;
        // background-color: aqua;
        line-height: 3px;
      }

      .card_h{
        font-size: 1.7vw;
        line-height: 1px;
      }
      
      .card_h2{
        font-size: 1.1vw;
        line-height: 3px;
        margin-bottom: -2%;
      }

      .card_p{
        font-size: 18px;
        line-height: 27px;      
      }
}