.circle{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    background-color: #FFF1E6;
    right: 2%;
    top: 40%;
}
.circle4{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    background-color: #FFF1E6;
    right: 30%;
    top: 20%;
}
.circle2{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    background-color: #BEE1E6;
    right: 2%;
    bottom: 10%;
    right: 40%;
}
.circle3{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    background-color: #FAD2E1;
    left: 18%;
    top: 2%;
}

    .content{
        // z-index: 1;
    // background: linear-gradient(90deg, #FFF1E6 31.77%, #FAD2E1 52.6%, #BEE1E6 100%);
    background: linear-gradient(90deg, #FFFFFF 0%, #FFF1E6 15.1%, #FAD2E1 64.06%, #BEE1E6 100%);
    // background-color: #fff;


    }

    .card{
        z-index: 6;
        // background-color: salmon;

    }
    .websites, .apps, .designs{
        z-index: 6;

    }