@media only screen and (max-width: 731px) {
  hr{
    background: #ffffff;

  }


    button{
      min-width: 50px;
      min-height: 30px;
      font-size: 16px;
  }

    .myimg{
        margin-top: 0%;
        height: 40vh;
        width: 100vw;
        object-fit:cover;
        border-radius: 0px;
      }

      .text_container_header{
        text-align: center;
        margin: 0;
        // background-color: cadetblue;
        // margin-top: -37;

          .card_h{
            font-size: 28px;
            margin: 0% 10%;
          }
    
          .fader{
            display: block;
            font-weight: 400;
            font-size: 18px;
            margin-top: -5px;
            text-align: left;
            width: 80vw;
            text-align: center;
            color: black;
            // background-color: cadetblue;
          }
      }
      
      .card_p{
        font-style: normal;
        font-weight: 200;
        font-size: 9px;
        line-height: 13px;      
      }
      

      hr{
        width:30%;
        background: #000;
        height: 1px;
      }

    .card{
        height: auto;
        flex-direction: column;
        width: 100vw;
        margin-left: 0%;
        margin-top: 19%;
        .img_container{
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: auto;
            // border-radius: 0px;
            // background-color: black;

            .box_image{
                object-fit: cover;
            }
        }
        .text_container{
            margin-top: 5%;
            align-items: center;
            // background-color: saddlebrown;
            // height: 20vh;
            width: 100vw;
            border-radius: 10px;
            bottom: 0;
            margin-left: 0;
        }
    }
    
    .text_container_List{
      // background-color: cadetblue;
      height: auto;
      width: 80vw;
      border: 1px solid #c4c4c4;
      border-radius: 10px;
      // margin: 0% 10%;
      
        .card_h2{
          // line-height: 1px;
          margin-top: -5px;
          // margin-left: 5px;
          text-align: center;
          font-size: 16px;
          height: 100%;
          width: 100%;
          color: #FFF1E6;
          border-radius: 10px 10px 0px 0px;

          background-color: #c4c4c4;
          z-index: 5;

        }
        .technologies_list{
          // margin-bottom: 0%;
          // margin: 10% 0%;
            ul{
              display: flex;
              list-style-type: none;
              // align-items: flex-end;
              justify-content: space-evenly;
              align-items: center;
              flex-wrap: wrap;
              margin-top: 5%;
              margin-right: 10%;
              margin-bottom: -3%;
              // background-color: #dfdfdf;
              
                li{
                  margin-left: -7;
                  font-weight: 200;

                  margin: 2px;
                  padding-right: 15px;
                  text-align: left;
                  font-size: 16px;
                  padding-left: 1em;
                  list-style-type: none;
                  background-color: #c4c4c4;
                  border-radius: 15px;
                  
                }
            }
          
        }
    }  

    .content{   
        .websites{
            height: auto;
            width: auto;
            left: auto;
            top: auto;
            // background-color: #000000;
    
            background: #FFF1E6;
            border-radius: 0px;
    
            overflow-y: visible;
        }
        .apps{
            height: auto;
            width: auto;
            left: auto;
            top: auto;
            border-radius: 0px;

        }
        .designs{
            height: auto;
            width: auto;
            left: auto;
            top: auto;
            border-radius: 0px;

        }
    }
    // .website1{
    //     background-color: yellow;
    // }
    // .website2{
    //     background-color: white;

    // }
    // .website3{
    //     background-color: black;

    // }

}