@media only screen and (max-width: 731px) {
    .header_push{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 8%;
        top: 0%;
        margin: 0;
        left: 0;
        background-color: #FFF1E6;


        
    }    


// ######################### NAVIGATION BAR ########################
.mobile_container{
    .mobile_left{
        .navigator{
            top: auto;
            width: 100%;
            height: 8%;
            margin: 0;
            position: absolute;
            flex-direction: row;
            background-color: #fff;
            position: fixed;
            bottom: 0;
            justify-content: space-between;
            font-size: 18px;

            .navigator_push{
                display: flex;
                justify-content: center;
                align-items: center;

            }
            .navigator_1{
                background-color: #FFF1E6;
                flex: 1;
                height: 100%;
                
            }
            .navigator_2{
                background-color: #FAD2E1;
                flex: 1;
                height: 100%;

            }
            .navigator_3{
                background-color: #BEE1E6;
                flex: 1;
                height: 100%;

            }
        }
    }
    
    // flex-direction: column;
}

.navigator{
    a{
        text-decoration: none;
        color: #000;
    }

    .navigator_push{
        margin-bottom: 0%;
    }
}

}