.content{
    position: absolute;
    // position: relative;
    // background-color: blueviolet;
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 120px;
    overflow-y: scroll;
    // background-color: #FAD2E1;
    background: linear-gradient(90deg, #FFFFFF 0%, #FFF1E6 15.1%, #FAD2E1 64.06%, #BEE1E6 100%);
    // background: linear-gradient(90.98deg, #FFFFFF 0.48%, rgba(255, 241, 230, 0.3) 106.27%);
    // background-color: #fff;
    // z-index: -1;



    .websites{
        position: relative;
        margin: -5% 0% 3% 0%;
        width: 80vw;
        height: 80vh;
        left: 15.5vw;
        top: 15vh;
        // background: #FFF1E6;
        background: linear-gradient(90deg, rgba(255, 241, 230, 0.18) 0%, rgba(255, 241, 230, 0.18) 100%);
        backdrop-filter: blur(20px);
        border: 0.5px solid #FFFFFF;
        border-radius: 20px;
        // scroll-snap-type: y mandatory;
        // scroll-padding-top: 75px;
        // scroll-snap-align: start;
        overflow-y: scroll;
    }
    .apps{
        position: relative;
        margin: 0% 0% 3% 0%;
        width: 80vw;
        height: 75vh;
        left: 15.5vw;
        top: 15vh;
        // background: #FAD2E1;
        // background: linear-gradient(80.7deg, rgba(255, 255, 255, 0.6) 3.48%, rgba(255, 255, 255, 0.3) 100%);
        background: linear-gradient(80.7deg, rgba(250, 210, 225, 0.6) 3.48%, rgba(250, 210, 225, 0.3) 100%);
        backdrop-filter: blur(20px);
        border: 0.5px solid #FFFFFF;
        border-radius: 20px;
        overflow-y: scroll;
        // scroll-snap-type: y mandatory;
        // scroll-padding-top: 75px;
        // scroll-snap-align: start;
    }
    .designs{
        position: relative;
        margin: 3% 0% 20% 0%;
        // width: 80vw;
        width: 80vw;
        height: 75vh;
        // left: 300px;
        // top: 227px;
        left: 15.5vw;
        top: 15vh;
        // background: #BEE1E6;
        background: linear-gradient(80.7deg, rgba(190, 225, 230, 0.6) 3.48%, rgba(190, 225, 230, 0.3) 100%);
        backdrop-filter: blur(20px);
        border: 0.5px solid #FFFFFF;
        border-radius: 20px;
        overflow-y: scroll;
        // scroll-snap-type: y mandatory;
        // scroll-padding-top: 75px;
        // scroll-snap-align: start;
    }
}

.design_button{
    background: #BEE1E6;
  }
  .app_button{
    background: #FAD2E1;
  }

