@import "header";
@import "nav";
@import "structure";
@import "card";
@import "button";
@import "responsive";
@import "responsive_header";
@import "992_responsive";

// font-family: 'Poppins', sans-serif;
// font-family: 'Sulphur Point', sans-serif;

body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;    
}

    // #CUSTOM SCROLLBAR
// .content::-webkit-scrollbar{
//     width: 10px;
// }
// .content::-webkit-scrollbar-track{
//     background-color: black;
// }
// .content::-webkit-scrollbar-thumb{
//     background-color: blue;
// }

  .scroller::-webkit-scrollbar {
    width: 0.3vw;
  }   
  .scroller::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }   
  .scroller::-webkit-scrollbar-thumb {
    // background-color: #333;
    // outline: 1px solid slategrey;
  }


pre{
    font-family: 'Poppins', sans-serif;
}

*{
    scroll-behavior: smooth;
}

.websites, .apps, .designs{
    overflow-x: hidden;

}