.header_push {
  position: fixed;
  width: 122px;
  height: 36px;
  left: 75px;
  top: 70px;
  font-family: Sulphur Point;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  /* identical to box height */
  color: #000000;
  font-family: 'Sulphur Point', sans-serif;
  z-index: 2;
}

.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  position: fixed;
  top: 40%;
  width: 10vw;
  z-index: 3;
  color: #000000;
}

.navigator a {
  text-decoration: none;
  color: #000;
}

.navigator .navigator_push {
  margin-bottom: 25%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-padding-top: 120px;
  overflow-y: scroll;
}

.content .websites {
  position: relative;
  margin: -5% 0% 3% 0%;
  width: 80vw;
  height: 75vh;
  left: 300px;
  top: 227px;
  background: #FFF1E6;
  border-radius: 20px;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-padding-top: 75px;
  scroll-snap-align: start;
  overflow-y: scroll;
}

.content .apps {
  position: relative;
  margin: 0% 0% 3% 0%;
  width: 80vw;
  height: 75vh;
  left: 300px;
  top: 227px;
  background: #FAD2E1;
  border-radius: 20px;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-padding-top: 75px;
  scroll-snap-align: start;
}

.content .designs {
  position: relative;
  margin: 3% 0% 20% 0%;
  width: 80vw;
  height: 75vh;
  left: 300px;
  top: 227px;
  background: #BEE1E6;
  border-radius: 20px;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-padding-top: 75px;
  scroll-snap-align: start;
}

.website1 {
  margin-top: 2%;
  margin-bottom: 0.1%;
}

.card {
  scroll-snap-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 6%;
  width: 70vw;
  height: 60vh;
  color: #1E1E1E;
}

.card .img_container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 10vw;
  border-radius: 0px;
}

.card .img_container .box_image {
  -o-object-fit: cover;
     object-fit: cover;
}

.card .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 80%;
  width: 10vw;
  border-radius: 10px;
  bottom: 0;
  margin-left: 5%;
  margin-top: 4%;
}

.myimg {
  margin-top: 15%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.card_h {
  font-style: normal;
  font-weight: 600;
  font-size: 1.7vw;
  line-height: 54px;
  display: inline;
}

.card_h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1vw;
  line-height: 36px;
  margin-bottom: -2%;
}

.card_p {
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 27px;
}

.fader {
  display: inline;
  font-weight: 600;
  font-size: 1.7vw;
  color: #696969;
}

.technologies_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 7%;
  margin-left: -2.5%;
  color: #000;
}

.technologies_list li {
  font-weight: 300;
  font-size: 0.8vw;
  padding-left: 1em;
}

hr {
  width: 30%;
  background: #000;
  height: 1px;
}

button {
  width: 9vw;
  height: 6vh;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  background-color: #FFF1E6;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 27px;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 731px) {
  .text_container_button {
    margin-right: 0;
  }
  .text_container_button button {
    margin-top: 15%;
    width: 120px;
    height: 50px;
    font-size: 16px;
  }
  .myimg {
    margin-top: 0%;
    height: 40vh;
    width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0px;
  }
  .text_container_header {
    text-align: center;
    margin: 0;
  }
  .text_container_header .card_h {
    font-size: 28px;
    margin: 0% 10%;
  }
  .text_container_header .fader {
    display: block;
    font-weight: 400;
    font-size: 18px;
    margin-top: -5px;
    text-align: left;
    width: 80vw;
    text-align: center;
    color: black;
  }
  .card_p {
    font-style: normal;
    font-weight: 200;
    font-size: 9px;
    line-height: 13px;
  }
  hr {
    width: 30%;
    background: #000;
    height: 1px;
  }
  .card {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70vw;
    margin-left: 0%;
    margin-top: 19%;
  }
  .card .img_container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
  }
  .card .img_container .box_image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card .text_container {
    margin-top: 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    border-radius: 10px;
    bottom: 0;
    margin-left: 0;
  }
  .text_container_List {
    height: auto;
    width: 80vw;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
  }
  .text_container_List .card_h2 {
    margin-top: -5px;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
    color: #000000;
    border-radius: 10px 10px 0px 0px;
    background-color: #c4c4c4;
    z-index: 5;
  }
  .text_container_List .technologies_list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5%;
    margin-right: 10%;
    margin-bottom: -3%;
  }
  .text_container_List .technologies_list ul li {
    margin-left: -7;
    font-weight: 300;
    margin: 2px;
    padding-right: 15px;
    text-align: left;
    font-size: 16px;
    padding-left: 1em;
    list-style-type: none;
    color: black;
    background-color: #c4c4c4;
    border-radius: 15px;
  }
  .content .websites {
    height: auto;
    width: auto;
    left: auto;
    top: auto;
    background: #FFF1E6;
    border-radius: 0px;
    overflow-y: visible;
  }
  .content .apps {
    height: auto;
    width: auto;
    left: auto;
    top: auto;
    border-radius: 0px;
  }
  .content .designs {
    height: auto;
    width: auto;
    left: auto;
    top: auto;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 731px) {
  .header_push {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    height: 8%;
    top: 0%;
    margin: 0;
    left: 0;
    background-color: #FFF1E6;
    -webkit-filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
            filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.2));
  }
  .mobile_container .mobile_left .navigator {
    top: auto;
    width: 100%;
    height: 7%;
    margin: 0;
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 18px;
  }
  .mobile_container .mobile_left .navigator .navigator_push {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile_container .mobile_left .navigator .navigator_1 {
    background-color: #FFF1E6;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
  }
  .mobile_container .mobile_left .navigator .navigator_2 {
    background-color: #FAD2E1;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
  }
  .mobile_container .mobile_left .navigator .navigator_3 {
    background-color: #BEE1E6;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
  }
  .navigator a {
    text-decoration: none;
    color: #000;
  }
  .navigator .navigator_push {
    margin-bottom: 0%;
  }
}

@media only screen and (max-width: 1360px) {
  .text_container_button {
    margin-right: 20%;
  }
  .text_container_button .button {
    width: 120px;
    height: 50px;
  }
  .header_push {
    left: 30px;
    top: 70px;
  }
  .myimg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 0%;
    height: 25vh;
    width: 50vw;
    margin-left: 10vw;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
  }
  .text_container_header {
    text-align: center;
    margin: 0;
    margin-right: 20vw;
  }
  .text_container_header .card_h {
    font-size: 28px;
    margin: 0% 10%;
  }
  .text_container_header .fader {
    display: block;
    font-weight: 400;
    font-size: 24px;
    margin-top: -5px;
    text-align: left;
    width: 80vw;
    text-align: center;
    color: black;
  }
  .text_container_List {
    margin-right: 20%;
  }
  .text_container_List .card_h2 {
    text-align: center;
  }
  .text_container_List .technologies_list ul {
    margin-top: 5%;
  }
  .text_container_List .technologies_list ul li {
    padding-right: 15px;
  }
  .card {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70vw;
    margin-left: 0%;
    margin-top: 19%;
    overflow-x: hidden;
  }
  .card .img_container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
  }
  .card .img_container .box_image {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card .text_container {
    margin-top: 5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    border-radius: 10px;
    bottom: 0;
    margin-left: 0;
  }
}

body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

pre {
  font-family: 'Poppins', sans-serif;
}

* {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=main.css.map */